#hint{background:#577b39!important;color:white;font-weight:700}
#board .hint-from{background:#f0b441!important;box-shadow:inset 0 0 0 4px #b87300}
#board .hint-to{background:#65a9e8!important;box-shadow:inset 0 0 0 4px #24689e}
